name: Secure Deploy Lambda via Terraform

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Package Lambda
        run: |
          cd lambda
          pip install -r requirements.txt -t .
          zip -r lambda_package.zip .
          mv lambda_package.zip ../terraform/

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::126667739830:role/TerraformGitHubDeploymentPolicy
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Deploy Infrastructure
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve -var-file="dev.tfvars"

      - name: Output API Gateway URL
        run: |
          cd terraform
          terraform output api_gateway_url
